<ion-header>
  <ion-navbar>
    <ion-title>拍场管理</ion-title>
  </ion-navbar>

  <ion-toolbar padding>
    <ion-segment [(ngModel)]="statusName" (ionChange)="statusChanged()">
      <ion-segment-button value="all">
        全部
      </ion-segment-button>
      <ion-segment-button value="pending">
        待发布
      </ion-segment-button>
      <ion-segment-button value="online">
        已发布
      </ion-segment-button>
      <ion-segment-button value="ended">
        已结束
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let statusData of statusesData" [hidden]="statusData.name !== statusName">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="拼命加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let item of statusData.list" [ngSwitch]="item.status" #slidingItem>
      <ion-item (click)="showDetail(item)">
        <img src="{{item.cover}}"/>
        <h2>{{item.gameNo}} | {{item.title}}</h2>
        <h3>{{item.dateNo}} {{item.begin}} ~ {{item.end}}时</h3>
        <p>{{item.modified | str2date | date: "yyyy/MM/dd HH:mm"}} | {{item.status | gameStatus}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [hidden]="!infiniteEnabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="数据加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
