<ion-header>
  <ion-navbar>
    <ion-title>用户管理</ion-title>
  </ion-navbar>

  <ion-toolbar padding>
    <ion-segment [(ngModel)]="statusName" (ionChange)="statusChanged()">
      <ion-segment-button value="all">
        全部
      </ion-segment-button>
      <ion-segment-button value="buyer">
        买家
      </ion-segment-button>
      <ion-segment-button value="seller">
        卖家
      </ion-segment-button>
      <ion-segment-button value="auktionator">
        拍卖师
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let statusData of statusesData" [hidden]="statusData.name !== statusName">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="拼命加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let item of statusData.list" [ngSwitch]="item.identity" #slidingItem>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.avatar}}"/>
        </ion-avatar>
        <h2>{{item.nickname || item.username}}</h2>
        <h3 *ngSwitchCase="0">买家</h3>
        <h3 *ngSwitchCase="1">卖家</h3>
        <h3 *ngSwitchCase="2">拍卖师</h3>
        <h3 *ngSwitchCase="3">管理员</h3>
        <p>{{item.tel}}</p>
      </ion-item>

      <ion-item-options *ngSwitchCase="0" icon-left>
        <button primary (click)="identityChanged(slidingItem, item, 1)">
          <ion-icon name="cart"></ion-icon>
          卖家
        </button>
        <button secondary (click)="identityChanged(slidingItem, item, 2)">
          <ion-icon name="hammer"></ion-icon>
          拍卖师
        </button>
        <button danger (click)="identityChanged(slidingItem, item, 3)">
          <ion-icon name="contacts"></ion-icon>
          管理员
        </button>
      </ion-item-options>

      <ion-item-options *ngSwitchCase="1" icon-left>
        <button primary (click)="identityChanged(slidingItem, item, 0)">
          <ion-icon name="cart"></ion-icon>
          买家
        </button>
        <button secondary (click)="identityChanged(slidingItem, item, 2)">
          <ion-icon name="hammer"></ion-icon>
          拍卖师
        </button>
        <button danger (click)="identityChanged(slidingItem, item, 3)">
          <ion-icon name="contacts"></ion-icon>
          管理员
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [hidden]="!infiniteEnabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="数据加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
