<ion-header>
  <ion-navbar>
    <ion-title>拍卖师</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="拼命加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="carousels">
    <ion-slides [options]="carouselsOptions">
      <ion-slide *ngFor="let item of carousels" (click)="handleCarouselsClick(item)">
        <img src="{{item.thumb}}"/>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="icons" padding-top padding-bottom>
    <ion-row>
      <ion-col *ngFor="let item of icons">
        <img src="{{item.thumb}}"/>
        <p>{{item.title}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-icon name="thumbs-up"></ion-icon> 推荐拍场
    </ion-list-header>
    <game-item *ngFor="let item of recommendGames" [item]="item" (click)="enterGameDetail(item)"></game-item>
    <div style="text-align: center" padding *ngIf="recommendGames.length <= 0">
      没有数据
    </div>

    <ion-list-header>
      <ion-icon name="flame"></ion-icon> 进行中
    </ion-list-header>
    <game-item *ngFor="let item of livingGames" [item]="item" (click)="enterGameDetail(item)"></game-item>
    <div style="text-align: center" padding *ngIf="livingGames.length <= 0">
      没有数据
    </div>

    <ion-list-header>
      <ion-icon name="timer"></ion-icon> 未开始
    </ion-list-header>
    <game-item *ngFor="let item of notStartedGames" [item]="item" (click)="enterGameDetail(item)"></game-item>
    <div style="text-align: center" padding *ngIf="notStartedGames.length <= 0">
      没有数据
    </div>
  </ion-list>

  <div padding style="text-align: center">
    <button outline round small (click)="showMoreGames()">更多拍场</button>
  </div>
</ion-content>
