<ion-header>
  <ion-navbar>
    <ion-title>拍品管理</ion-title>
  </ion-navbar>
  <ion-toolbar padding>
    <ion-segment [(ngModel)]="statusName" (ionChange)="statusChanged()">
      <ion-segment-button value="all">
        全部
      </ion-segment-button>
      <ion-segment-button value="pending">
        未处理
        <ion-badge item-right danger [hidden]="pendingProductCount <= 0">{{pendingProductCount}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="online">
        待上架
      </ion-segment-button>
      <ion-segment-button value="ended">
        已结束
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let statusData of statusesData" [hidden]="statusData.name !== statusName">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="拼命加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let item of statusData.list" [ngSwitch]="item.status" #slidingItem>
      <ion-item (click)="showDetail(item)">
        <ion-thumbnail item-left>
          <img src="{{item.thumb}}"/>
        </ion-thumbnail>
        <h2>{{item.owner?.nickname || item.owner?.username}}</h2>
        <h3>{{item.proNo}} | {{item.title}}</h3>
        <p>{{item.modified | str2date | date: "yyyy/MM/dd HH:mm"}} | {{item.status | productStatus: user.identity}}</p>
      </ion-item>

      <ion-item-options *ngSwitchCase="0" icon-left>
        <button secondary (click)="confirmItem(slidingItem, item)">
          <ion-icon name="hammer"></ion-icon>
          同意
        </button>
        <button danger (click)="rejectItem(slidingItem, item)">
          <ion-icon name="contacts"></ion-icon>
          拒绝
        </button>
      </ion-item-options>

      <ion-item-options *ngSwitchCase="1" icon-left>
        <button secondary (click)="selectGame(slidingItem, item)">
          <ion-icon name="hammer"></ion-icon>
          选择拍场
        </button>
      </ion-item-options>

      <ion-item-options *ngSwitchCase="6" icon-left>
        <button secondary (click)="selectGame(slidingItem, item)">
          <ion-icon name="hammer"></ion-icon>
          选择拍场
        </button>
      </ion-item-options>

      <ion-item-options *ngSwitchCase="2" icon-left>
        <button secondary (click)="selectGame(slidingItem, item, true)">
          <ion-icon name="hammer"></ion-icon>
          切换拍场
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--<div>-->
    <!--<ion-slides #statusesSlide [options]="statusesSlideOptions" (ionDidChange)="onStatusesSlideChanged()">-->
      <!--<ion-slide *ngFor="let statusData of statusesData">-->
        <!---->
      <!--</ion-slide>-->
    <!--</ion-slides>-->
  <!--</div>-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [hidden]="!infiniteEnabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="数据加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
