<ion-navbar *navbar>
  <ion-title>拍品详细</ion-title>
  <ion-buttons end>
    <button (click)="favorite()">
      <ion-icon name="heart"></ion-icon>
    </button>
    <button (click)="share()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="拼命加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="product-detail">
    <ion-item>
      <ion-avatar item-left>
        <img class="avatar" src="{{product.auktionator?.avatar}}">
      </ion-avatar>
      <h2>{{product.auktionator?.nickname || product.auktionator?.username}}</h2>
    </ion-item>

    <ion-card-content>
      <p>编号：{{product.proNo}}</p>
      <p>名称：{{product.title}}</p>
      <grid-img [editable]="false" [previewable]="true" [imgs]="product.uploadImages"></grid-img>
    </ion-card-content>

    <ion-item class="opt4">
      <ion-row center class="r1">
        <ion-col><button small clear dark block>起：￥{{product.beginningPrice}}元</button></ion-col>
        <ion-col><button small clear dark block>加：￥{{product.increasePrice}}元</button></ion-col>
        <ion-col><button small clear dark block>保：￥{{product.guaranteePrice}}元</button></ion-col>
      </ion-row>
      <ion-row center class="r2" *ngIf="product.dealPrice || product.referencePrice">
        <ion-col *ngIf="product.maxPrice"><button small clear dark block>一口：￥{{product.maxPrice}}元</button></ion-col>
        <ion-col *ngIf="product.minPrice"><button small clear dark block>保底：￥{{product.minPrice}}元</button></ion-col>
      </ion-row>
    </ion-item>

    <p class="content" padding>详细：{{product.content}}</p>
  </ion-card>
</ion-content>

<template [ngIf]="user">
  <ion-toolbar position="bottom" *ngIf="user.id == product.ownerId" [ngSwitch]="product.status">
    <p>{{product.modified | str2date | date: "yyyy/MM/dd HH:mm"}} | {{product.status | productStatus}}</p>
    <button *ngSwitchWhen="0">
      取消
    </button>
    <button *ngSwitchWhen="3">
      进入拍场
    </button>
    <button *ngSwitchWhen="4">
      进入拍场
    </button>
    <button *ngSwitchWhen="5">
      查看订单信息
    </button>
  </ion-toolbar>

  <ion-toolbar position="bottom" *ngIf="user.id == product.auktionatorId" [ngSwitch]="product.status">
    <p>{{product.modified | str2date | date: "yyyy/MM/dd HH:mm"}} | {{product.status | productStatus}}</p>
    <button *ngSwitchWhen="0">
      同意
    </button>
    <button *ngSwitchWhen="0">
      拒绝
    </button>
    <button *ngSwitchWhen="1">
      选择拍场
    </button>
    <button *ngSwitchWhen="2">
      切换拍场
    </button>
    <button *ngSwitchWhen="3">
      进入拍场
    </button>
    <button *ngSwitchWhen="4">
      进入拍场
    </button>
    <button *ngSwitchWhen="5">
      查看订单信息
    </button>
  </ion-toolbar>
</template>
