.product-publish-page {
  .p-content {
    textarea {
      height: 90px;
    }
  }
  .upload-item {
    ion-thumbnail {
      position: relative;
      overflow: hidden;
    }
  }
  .upload-file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}
