<ion-navbar *navbar>
  <ion-buttons start *ngIf="isEdit">
    <button dark (click)="dismiss()">取消</button>
  </ion-buttons>

  <ion-title *ngIf="isEdit">{{isEdit ? '编辑拍品' : '发布拍品'}}</ion-title>
  <!--<ion-buttons end>-->
    <!--<button (click)="onSubmit()">-->
      <!--<ion-icon name="done-all"></ion-icon>-->
      <!--提交-->
    <!--</button>-->
  <!--</ion-buttons>-->
</ion-navbar>

<ion-content>
  <form #publishForm="ngForm" novalidate>
    <ion-item-group>
      <ion-list-header>拍品信息</ion-list-header>
      <ion-item class="p-content">
        <ion-textarea [(ngModel)]="product.content" ngControl="content" #content="ngForm" required minlength="20" maxlength="2000" placeholder="拍品描述"></ion-textarea>
      </ion-item>
      <!--<p [hidden]="content.valid || content.pristine" danger padding-left>当前描述有人可能看不懂哦</p>-->
      <div padding>
        <grid-img [editable]="true" [imgs]="product.uploadImages" (deleted)="delUploadImage($event)"></grid-img>
      </div>
      <ion-item class="upload-item">
        <ion-thumbnail item-left>
          <input class="upload-file" type="file" (change)="pickImage($event)" multiple [disabled]="product.uploadImages.length >= 8"/>
          <img src="img/upload.png">
        </ion-thumbnail>
        <h3>拍品效果图</h3>
        <p>已上传 {{product.uploadImages.length}}/{{uploadImageLimit}}</p>
      </ion-item>
      <!--<p [hidden]="product.uploadImages.length > 0" danger padding-left>至少需要上传一张图哦</p>-->
      <ion-item>

        <ion-label>起拍价</ion-label>
        <ion-input [(ngModel)]="product.beginningPrice" ngControl="beginningPrice" type="number" #beginningPrice="ngForm" required></ion-input>
      </ion-item>
      <!--<p [hidden]="beginningPrice.valid || beginningPrice.pristine" danger padding-left>起拍价不能为空哦</p>-->
      <ion-item>
        <ion-label>加价幅度</ion-label>
        <ion-input [(ngModel)]="product.increasePrice" ngControl="increasePrice" type="number" #increasePrice="ngForm" required></ion-input>
      </ion-item>
      <!--<p [hidden]="increasePrice.valid || increasePrice.pristine" danger padding-left>加价幅度不能为空哦</p>-->
    </ion-item-group>

    <ion-item-group>
      <!--<ion-item-divider></ion-item-divider>-->
      <ion-list-header>拍卖师<span *ngIf="isEdit" dark>（不能修改）</span></ion-list-header>
      <a ion-item detail-push (click)="selectAuktionator()" [hidden]="selectedAuktionator">
        <!--<ion-icon name="person" item-left></ion-icon>-->
        选择拍卖师
      </a>
      <button ion-item (click)="selectAuktionator()" [hidden]="!selectedAuktionator">
        <ion-avatar item-left>
          <img src="{{selectedAuktionator?.avatar}}"/>
        </ion-avatar>
        <h3>{{selectedAuktionator?.nickname || selectedAuktionator?.username}}</h3>
        <p>{{selectedAuktionator?.score}}</p>
      </button>
    </ion-item-group>

    <ion-item-group>
      <!--<ion-item-divider></ion-item-divider>-->
      <ion-list-header>其他设置</ion-list-header>
      <ion-item>
        <ion-label>保证金</ion-label>
        <ion-input [(ngModel)]="product.guaranteePrice" ngControl="guaranteePrice" type="number" #guaranteePrice="ngForm" placeholder="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>一口价</ion-label>
        <ion-input [(ngModel)]="product.maxPrice" ngControl="maxPrice" type="number" #maxPrice="ngForm" placeholder="0"></ion-input>
        <ion-icon name="help" item-right></ion-icon>
      </ion-item>
      <!--<p light padding-left>出价达到或超过此价格立即成交（无一口价请设0元）</p>-->
      <ion-item>
        <ion-label>保底价</ion-label>
        <ion-input [(ngModel)]="product.minPrice" ngControl="minPrice" type="number" #minPrice="ngForm" placeholder="0"></ion-input>
        <ion-icon name="help" item-right></ion-icon>
      </ion-item>
      <!--<p light padding-left>提供此拍品的保底价格（无保底价请设0元）</p>-->
    </ion-item-group>

    <ion-item-group>
      <!--<ion-item-divider></ion-item-divider>-->
      <div padding>
        <button  block secondary type="submit" (click)="onSubmit()" [disabled]="!publishForm.form.valid">{{isEdit ? '提交修改' : '确认发布'}}</button>
      </div>
    </ion-item-group>
  </form>
</ion-content>
