<ion-navbar *navbar>
  <ion-title>我的</ion-title>
  <ion-buttons end>
    <button [navPush]="settingsPage">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item-divider></ion-item-divider>
    <a ion-item (click)="showUserInfo()" detail-push>
      <ion-thumbnail item-left>
        <img src="{{user?.avatar || 'img/default_avatar_128x128.png'}}">
      </ion-thumbnail>
      <h2>{{user?.nickname || user?.username}}</h2>
      <p>积分：{{user?.score}}</p>
    </a>

    <ion-item-group>
      <ion-item-divider></ion-item-divider>
      <button ion-item>
        <ion-icon name="list" item-left></ion-icon>
        我的订单
      </button>
      <button ion-item>
        <ion-icon name="heart" item-left></ion-icon>
        我的收藏
      </button>
    </ion-item-group>

    <ion-item-group *ngIf="user?.identity === 1">
      <ion-item-divider></ion-item-divider>
      <button ion-item [navPush]="productPublishPage">
        <ion-icon name="camera" item-left></ion-icon>
        发布拍品
      </button>
      <button ion-item>
        <ion-icon name="leaf" item-left></ion-icon>
        拍品管理
      </button>
    </ion-item-group>

    <ion-item-group *ngIf="user?.identity === 2">
      <ion-item-divider></ion-item-divider>
      <button ion-item>
        <ion-icon name="leaf" item-left></ion-icon>
        拍场管理
      </button>
      <button ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        订单统计
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider></ion-item-divider>
      <button ion-item *ngIf="user?.identity == 0" [navPush]="beSellerPage">
        <ion-icon name="leaf" item-left></ion-icon>
        商家入驻
      </button>
      <button ion-item *ngIf="user?.identity !== 2" [navPush]="beAuktionatorPage">
        <ion-icon name="leaf" item-left></ion-icon>
        成为拍卖师
      </button>
      <button ion-item>
        <ion-icon name="leaf" item-left></ion-icon>
        使用帮助
      </button>
    </ion-item-group>
  </ion-list>

</ion-content>
